body{
    background-color:beige;
    font-family: tahoma;
    margin-left: 10%;
    margin-right: 10%;
}
.photo{
    border-radius: 30%;
    box-shadow: 5px 5px 10px rgb(158, 158, 158);
    margin-left: 25px;
}