$white: #E8E8E8
$red: #F05454
$gray: #30475E
$black: #222831
    
*
    margin: 0
    padding: 0
    font-family: monospace

body
    background-color: $white
    color: $black
h1
    color: $gray
.container
    padding: 5%
    display: flex
    flex-direction: column
    align-items: center

.card
    width: max-content
    border: dashed 3px $gray
    border-radius: 10px
    font-size: 20px
    display: flex
    flex-direction: column
    align-items: center
    padding: 35px
    h1
        color: $red
        font-size: 30px
    input
        border-radius: 5px
        padding: 3px
        background-color: $white
        color: $black
        margin-bottom: 25px
    #send
        &:hover
            background-color: $gray
            color: $white
    p
        margin-top: 15px

